{% extends "vote_base.html" %}

{% load staticfiles %}

{% block activity-title %}活动列表{% endblock %}

{% block nav-li %}
    <li class="{% block activity-list-active %}active{% endblock %}"><a class="btn-link"
                                                                        href="{% url "adminpage.views.activity_list" %}">活动列表</a>
    </li>
    {% block nav-li-ext %}{% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/activity_list.css" %}"/>
    <link rel="stylesheet" href="{% static "css/pushBtn.css" %}"/>
{% endblock %}

{% block js %}
    <script src="{% static "js/vote_detail.js"%}"></script>

    <script type="text/javascript">


    </script>

{% endblock %}


{% block username %}
    <a href={% url "adminpage.views.logout" %} >登出</a>
{% endblock %}

{% block content %}
    <div class="container" id="detail-noscript">
        <noscript>请开启JavaScript后重试。</noscript>
    </div>

    <a name="info_point"></a>
    <div class="container" id="detail-form">
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data"
              action="{% url "adminpage.views.activity_post" %}" id="activity-form">
            {% csrf_token %}

                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 1.5em">活动信息</div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6" style="left:8.5%;">
                                <div class="form-group">
                                    <label for="input-name" class="col-sm-2 control-label"
                                           id="label-input-name">活动名称</label>

                                    <div class="col-sm-6">
                                        <label class="control-label" id="input-name"></label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="input-key" class="col-sm-2 control-label">活动代称</label>

                                    <div class="col-sm-6">
                                        <label class="control-label" id="input-key"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-start_time" class="col-sm-2 control-label">投票开始</label>

                                    <div class='col-sm-6 input-group date' id='datetimepicker1'>
                                        <label class="control-label" id="input-start_time"/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input-end_time" class="col-sm-2 control-label">投票结束</label>

                                    <div class='col-sm-6 input-group date' id='datetimepicker2'>
                                        <label class="control-label" id="input-end_time"/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="input-description" class="col-sm-2 control-label">活动简介</label>

                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="description" rows="7"
                                                  id="input-description" row="3"
                                                  style="resize: none;" disabled="disabled"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-3 form-group" style="right:-15%;">
                                <div class="form-group">
                                    <img id="poster" class="img-responsive img-thumbnail" style="width:100%;" alt=""
                                         src="/static1/img/default.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<a name="result_point"></a>
            <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: 1.5em">
                        投票结果
                        <div style="float:right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" onclick="view_bar(vote_activity, candidates)"><span class="glyphicon glyphicon-stats gbtn" ></span></button>
  <button type="button" class="btn btn-default" onclick="view_pie(vote_activity, candidates)"><span class="glyphicon glyphicon-dashboard gbtn" ></span></button>
  <button type="button" class="btn btn-default" onclick="view_table(vote_activity, candidates)"><span class="glyphicon glyphicon-th gbtn"></span></button>
    <button type="button" class="btn btn-default" onclick="download_data()"> <span class="glyphicon glyphicon-arrow-down gbtn"></span></button>

</div>



                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        {% include 'vote_charts.html' %}
                    </div>
                </div>


        </form>


    </div>
<div class="container">
    <div class="panel panel-default">
    <div class="panel-body">
        <div class="row" id="showButton">
        </div>
    </div>
    </div>
</div>

<div class="informer">开始成功！</div>

{% endblock %}