<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>lottery</title>
    <script src="{% static "lib/jq/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/jquery.slotmachine.js" %}"></script>
    <script>var id = {{ id }}; var result = '';</script>
    <script src="{% static "js/vote_lottery.js" %}"></script>
    <link rel="stylesheet" href="{% static "lib/bs/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/vote_lottery.css" %}"/>
</head>
<body>
    <div class="line" >

        <div class="content" style="text-align: center; background: url('/static1/img/machine.png') no-repeat 50% 120px; height: 500px;">

            <h1>&nbsp;</h1>

            <div style="clear:both; padding-top: 215px;width: 365px;margin: 0 auto;">
                <div class="col-md-12 col-lg-8 text-center">
					<div id="textMachine">

					</div>
				</div>
            </div>

        </div>

        <div class="content text-center">
            <div id="slotMachineButtonShuffle" class="slotMachineButton" style="font-size: 25px">Shuffle</div>
            <div id="slotMachineButtonSave" class="slotMachineButton" style="font-size: 25px">Save</div>
        </div>
        <div class="clearfix"></div>

    </div>
</body>
</html>