<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <title>投票</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/vote-detail.css" %}" />
        <script>
            var vote_id = {{ vote_id }};
            var openid = {{openid}};
            var csrf = "{% csrf_token %}";
        </script>

    </head>
    <body background="{% static "img/bg_vote.gif" %}"">
            <div class="ui-tab">
            <ul class="ui-tab-content">
                <li>
                    <div id="home" class="content-container" style="font-size:14px;">
                        <div class="ui-dialog ui-dialog-notice ui-dialog-show">
                            <div class="ui-dialog-cnt">
                                <i class="ui-loading-bright"></i>
                                <p>加载中...</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="candidates" class="content-container" style="font-size:14px;">
                        <div class="ui-dialog ui-dialog-notice ui-dialog-show">
                            <div class="ui-dialog-cnt">
                                <i class="ui-loading-bright"></i>
                                <p>加载中...</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="statistics" class="content-container">
                        <div class="ui-dialog ui-dialog-notice ui-dialog-show">
                            <div class="ui-dialog-cnt">
                                <i class="ui-loading-bright"></i>
                                <p>加载中...</p>
                            </div>
                        </div>
                        <div class="loading"></div>
                    </div>
                </li>
            </ul>
            <ul class="ui-tab-nav">
                <li class="current">主页</li>
                <li>候选人</li>
                <li>投票结果</li>
            </ul>
        </div>
        <script type="text/javascript" src="{% static "lib/jq/jquery-1.10.2.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.form.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/highcharts.js" %}"></script>
        <!--<script type="text/javascript" src="{% static "js/ui.scroller.js" %}"></script> -->
        <script type="text/javascript" src="{% static "js/ui-tab.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    </body>
</html>