body {
	font-family: "Microsoft Yahei UI";
	line-height: 1.5;
	color: #000;
	background-color: #FFF;
	outline: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, footer, header, aside, section, article, aside {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.clear-fix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.hidden {
	display: none;
}

.over_hidden{
    overflow: hidden;
    height: 200px;
}

.ui-tab-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
	left: 0;
	z-index: 100;
	display: -webkit-box;
	font-size: 0.8em;
	height: 45px;
	box-sizing: border-box;
}

.ui-tab-nav li {
	height: 45px;
	line-height: 45px;
	min-width: 70px;
	-webkit-box-flex: 1;
	text-align: center;
    vertical-align: middle;
	color: #808080;
	box-sizing: border-box;
}

.ui-tab-nav li.current {
	color: #FFF;
	text-shadow: 0 0 5px #FFF;
}

.ui-tab-content {
	display: -webkit-box;
	width: 300%;
	height: 100%;
	position: fixed;
}

.ui-tab-content > li {
	-webkit-box-flex: 1;
	width: 100%;
	overflow: scroll;
	padding-bottom: 45px;
}

.candidate-list li {
	padding: 10px 10px 10px 10px;
    margin: 10px 0;
}

.candidate-list li + li {
	border-top: 1px #d9d9d9 solid;
}

.candidate-info {
}

.candidate-info-bar {
	margin-bottom: 16px;
}

.brief {
	height: 6em;
	overflow: hidden;
}

a.show-more, a.show-more:visited{
	font-size: 0.6em;
	color: #2D64B3;
	float: right;
	text-decoration: none;
}

.candidate-list .candidate-poster {
	width: 40%;
}

.candidate-list li:nth-child(odd) .candidate-poster {
	float: right;
	margin-left: 5%;
}

.candidate-list li:nth-child(even) .candidate-poster {
	float: left;
	margin-right: 5%;
}

.candidate-description {
	text-align: justify;
}

.avatar{
    height:40px;
    width:40px;
    border-radius:20px;
}

#avatar-list span + span{
    margin-left: 10px;
}

.S_line1 {
    border-left-width: 1px;
    border-color: #d9d9d9;
}

.top_border{
    padding: 10px;
    border-top-width: 1px;
    border-color: #d9d9d9;
    border-top-style:solid;
}
.S_txt1 {
    color: #333;
    text-decoration: none;
}

.tb_counter {
    width: 100%;
    margin-left: -1px;
    line-height: 15px;
    text-align: center;
    table-layout: fixed;
    font-weight: bold;
}

table td {
    display: table-cell;
    vertical-align: inherit;
}

table td .t_link {
    display: block;
}

table td strong {
    display: block;
    margin: 2px 0 6px 0;
    font-weight: 400;
}

.W_f14 {
    font-size: 14px;
}

.highlight{
    color:lightskyblue;
    font-weight: bold;
}

.shadow{
	box-shadow: 2px 2px 2px gray;
}

.poster_container{
    max-height: 250px;
    display: block;
    overflow: hidden;
}

.coverage{
    height: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: 150px;
    color: #dedede;
    padding: 10px 20px;
    opacity: 0;
}

.one_candidate{
    width: 100%;
    height: 100%;
}

.candidate_img_container{
    text-align: center;
    padding: 0 5px;
    width: 80px;
}

.content_top{
    vertical-align: top;
}

.candidate_img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-bottom: 10px;
    /*border-color: lightgreen;
    border-width: 2px;
    border-style: solid;*/
}

.icon-show {
    width: 10px;
    background-image: url("../img/show.gif");
    background-size: 10px 10px;
    height: 10px;
    display: inline-block;
}

.icon-hide {
    width: 10px;
    background-image: url("../img/hide.gif");
    background-size: 10px 10px;
    height: 10px;
    display: inline-block;
}

.icon-unselected{
    margin: 5px auto;
    width:15px;
    height:15px;
    background-image: url("../img/unselected.gif");
    background-size: 15px 15px;
    /*display: inline-block;*/
}

.icon-selected{
    margin: 5px auto;
    width:15px;
    height:15px;
    background-image: url("../img/selected.gif");
    background-size: 15px 15px;
    /*display: inline-block;*/
}

#vote_table{
    margin: 0 auto;
    text-align: center;
    border: 1px;
    cellspacing: 0px;
}
#vote_table .table_avatar{
    padding: 0 10px 0 10px;
}

.square_avatar{
    width: 40px;
    height: 40px;
}

#submit_button{
    height: 18px;
    width: 40px;
    margin: 0 auto;
    text-align: center;
    border-color: lightskyblue;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    border-radius: 5px;
}

.loading {
    position: fixed;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.fake_checkbox{
    margin: -10px auto 0 auto;
}